/* Reset margin and padding, set default font */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Navbar styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s ease; /* Add smooth transition */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 100%;
    margin: auto;
    padding: 0px 50px;
}

.navbar-container ul {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.navbar-logo .logo-nav {
    height: 60px;
    width: 80px;
}

.navbar-logo .logo-nav img {
    height: 100%;
    width: 100%;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px; /* Adjust padding for better appearance */
    transition: color 0.3s ease; /* Smooth color transition */
}

.nav-link:hover {
    color: rgb(172, 163, 0); /* Change color on hover */
}

.nav-button {
    background-color: rgb(255, 209, 71);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.nav-button:hover {
    background-color: gray; /* Change background color on hover */
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon i {
    font-size: 24px;
}

/* Hero section styling */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* Video styling */
.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .9;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Image styling */
.hero-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Hero content styling */
.hero-content {
    position: relative;
    right: 25vw;
    z-index: 1;
    animation: fadeIn 2s ease-in-out; /* Fade in animation */
    text-align: left;
}

.hero-content h1 {
    font-size: 55px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.hero-content p {
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hero-button {
    background-color: rgb(255, 209, 71);
    color: rgb(0, 0, 0);
    border: none;
    margin-bottom: 30px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.hero-button:hover {
    background-color: gray; /* Change background color on hover */
}

/* Fade in animation keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Doctors section styling */
.doctors {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 50vh;
}

.doctor-div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid red;
}

.doctor-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-div {
    text-align: left;
    align-items: start;
    flex-direction: column;
    padding: 20px;
}

.content-div h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.content-div p {
    font-size: 20px;
}

/* Responsive styling for tablets */
@media (max-width: 1024px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-button {
        padding: 8px 16px;
        font-size: 16px;
    }

    .navbar-container ul {
        width: 90%;
        padding: 10px;
        top: 100px;
        left: 2.5%;
    }
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
    .hero-video {
        display: none;
    }

    .hero-image {
        display: block;
    }

    .hero-content h1 {
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
    }

    .hero-content p {
        font-size: 20px;
    }

    .hero-content {
        left: 30px;
        top: 5px;
        bottom: 150px;
    }

    .hero-button {
        padding: 12px 24px;
        font-size: 20px;
    }

    .navbar-container ul {
        width: 90%;
        padding: 10px;
        top: 100px;
        left: 2.5%;
    }

    .doctors {
        flex-direction: column;
        height: 100vh;
    }

    .doctor-div {
        width: 100%;
        height: 50%;
    }
}
