
:root {
  --primary-color: #012a58; /* Dark Blue */
  --secondary-color: #457b9d; /* Light Blue */
  --background-color: #ffffff; /* White */
  --font-size-title: 24px;
  --font-size-subtitle: 16px;

}

/* Reset margin and padding, set default font */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  scroll-behavior: smooth; /* Enable smooth scrolling */
  overflow-x: hidden;
}
/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0;
}



/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 100%;
  margin: auto;
  padding: 0 50px;
}

.navbar-logo .logo-nav {
  height: 60px;
  width: 80px;
}

.navbar-logo .logo-nav img {
  height: 100%;
  width: 100%;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon i {
  font-size: 24px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

/* Video styling */
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.desktop-video {
  display: block;
}

.mobile-video {
  display: none;
}

/* Hero content styling */
.hero-content {
  position: relative;
  right: 25vw;
  z-index: 1;
  animation: fadeIn 2s ease-in-out; /* Fade in animation */
  text-align: left;
}

.hero-content h1 {
  font-size: 55px;
  margin-bottom: 30px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0px -1px 24px rgba(0, 0, 0, 0.33);
}

.hero-content p {
  font-size: 22px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 0px -1px 24px rgba(0, 0, 0, 0.33);
}

.hero-button {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  border: none;
  margin-bottom: 30px;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.hero-button:hover {
  background-color: gray; /* Change background color on hover */
  color: white;
}

/* Fade in animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero-doc{
  display: none;
}

/* lower hero section styling */

.lower-hero {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.lower-hero-child {
  width: 33.33%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 20px;
  background-color: var(--primary-color);
  transition: transform 0.3s ease; /* Add smooth transition */
}

.lower-hero-child:hover {
  color:  var(--secondary-color);
    } 

/* Service section */


.services{
  height: fit-content;
  width: 100%;
  text-align: center;
}
.services h1{
  font-size: 5vw;
  color: var(--secondary-color);
}

.services .card-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  height: fit-content;
  }
  .services .card-parent .card-child{
    height: 400px;
    width: 300px;
    background-color: rgba(240, 248, 255, 0.71) ;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .services .card-parent .card-child img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }
  .services .card-parent .card-child h1{
    font-size: 1.5vw;

  }
  .services .card-parent .card-child button{
    background-color: var(--primary-color);
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  
  /* code for phone slider */
  .phone-hedding,.p-section{
    display: none;   
  }
  .p-section h1{
    text-align: center;
    color: var(--secondary-color);
  }


  .services-phone{
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0;
    background-color: #ffffff;
  }
  
.slider-container {
  position: relative;
  width: 100%;
  max-width: 350px; /* Adjust this value as needed */
  height: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-card {
 min-width: 100%; 
  box-sizing: border-box;
  text-align: center;
  padding: 20px; 
  height: 400px;
  background-color: rgba(240, 248, 255, 0.71) ;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.slider-card h1{
  color: #457b9d;
}

.slider-card img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}
.slider-card button{
  background-color: var(--primary-color);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}







/* Appointment section styling */
.appointment {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
}

.appointment h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.step {
  width: 30%;
  min-width: 250px;
  position: relative;
}

.step img {
  width: 100%;
  border-radius: 10px;
}

.step-number {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.step p {
  margin-top: 10px;
  font-size: 18px;
  color: #000;
}

.request-appointment-button {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.request-appointment-button:hover {
  background-color: gray; /* Change background color on hover */
  color: white;
}



/* <!-- code for before after image slider --> */


.before-after{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: #ffffff;
  margin: 50px;
  column-gap: 50px;
}
.before-after h1{
  font-size: 4vw;
  text-align: center;
  color: var(--primary-color);
  text-decoration: none;
}
.before-after p{
  font-size: 1.5vw;
  text-align: center;
  color: var(--secondary-color);
}


.slider-container2 {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  user-select: none;
}

.image-container {
  position: relative;
  display: flex;
  width: 100%;
}

.image-before,
.image-after {
  display: block;
  width: 100%;
}

.image-after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  clip-path: inset(0 50% 0 0);
}

.slider-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}







/* Doctors section styling */
.doctors {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: fit-content;
  background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
}

.doctor-div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5vw;
}

.doctor-video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 20px;
}

.content-div {
  text-align: left;
  align-items: start;
  flex-direction: column;
  padding: 5vw;
}

.content-div h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.content-div p {
  font-size: 20px;
}

/* Footer section styling */
.footer {
  background-color: var(--primary-color);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 80px;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.footer-column {
  width: 22%;
  min-width: 150px;
  margin-bottom: 20px;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--secondary-color);
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: rgb(255, 209, 71);
}

.footer-social {
  margin: 20px 0;
}

.footer-social a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: rgb(255, 209, 71);
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
}


/* ---------------------------------- 
           # CSS FOR Other Pages
  ------------------------------------*/


.nevigate-menu{
  height: 300px;
  width: 100%;
  background-color: var(--secondary-color);
  color: rgb(0, 0, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  
}
.nevigate-menu h1 a {
  color: rgb(0, 0, 38);
  text-decoration: none;
}








/* Responsive styling for tablets */
@media (max-width: 1024px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-button {
    padding: 8px 16px;
    font-size: 16px;
  }

  .navbar-container ul {
    width: 90%;
    padding: 10px;
    top: 100px;
    left: 2.5%;
  }

  .step {
    width: 45%;
  }

  .appointment h2 {
    font-size: 22px;
  }

  .request-appointment-button {
    padding: 12px 20px;
    font-size: 14px;
  }
  .services{
    display: none;
  }
  .services-phone{
    display: flex;
  }
  .phone-hedding,.p-section{
    display: block;
  }
  .before-after{
    flex-direction: column;
    h1{
      font-size: 28px;
    }
    p{
      font-size: 16px;
    }
  }
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
  .desktop-video {
    display: none;
  }

  .mobile-video {
    display: block;
  }

  .hero-content h1 {
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
  }

  .hero-content p {
    font-size: 20px;
    width: 400px;
  }

  .hero-content {
    left: 30px;
    top: 5px;
    bottom: 150px;
  }

  .hero-button {
    padding: 12px 24px;
    font-size: 20px;
  }
  .navbar-container ul {
    width: 90%;
    padding: 10px;
    top: 100px;
    left: 2.5%;
  }

  .doctors {
    flex-direction: column;
    height: fit-content;
  }

  .doctor-div {
    width: 100%;
    height: 50%;
  }

  .lower-hero {
    /* flex-direction: column; */
    align-items: center;
  }

  .lower-hero-child {
    width: 33%;
    margin: 0 0;
    height: 120px;

    h1,p{
      font-size: 10px;
    }
    p{
      display: none;
    }
  }


  .step {
    width: 100%;
  }

  .appointment h2 {
    font-size: 20px;
  }

  .request-appointment-button {

    padding: 12px 24px;
    font-size: 20px;
  }
  .footer-column {
    width: 45%;
  }
  .slider-container2 {
    width: 100%;
}
.nav-menu {
  flex-direction: column;
  display: none;
  width: 100%;
}

.nav-menu.active {
  display: flex;
}

.menu-icon {
  display: block;
}
.hero-doc{
  display: block;
  height: fit-content;
  width: 100%;
  border: 1px solid black;
}
.hero-doc-upper-child{
  height: 33%;
  width: 100%;
  video{
    height: 100%;
    width: 100%;
  }
}
.hero-doc-lower-child{
  height: 60%;
  width: 100%;
  padding: 30px 20px;
  font-size: 18px;
  h1{
    color: var(--primary-color);
  }
  p{
    width: 90%;
    color: var(--secondary-color);
  }
}
  

}

