:root {
  --primary-color: #012a58; /* Dark Blue */
  --secondary-color: #457b9d; /* Light Blue */
  --background-color: #ffffff; /* White */
  --font-size-title: 24px;
  --font-size-subtitle: 16px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.contact-section {
  padding: 40px 20px;
  background-color: var(--background-color);
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact-container > div {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: var(--font-size-title);
  margin-bottom: 20px;
  color: var(--background-color);
}

p,
label {
  font-size: var(--font-size-subtitle);
  margin-bottom: 10px;
  color: var(--background-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: var(--font-size-subtitle);
}

.contact-form button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-subtitle);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.contact-details {
  display: flex;
  flex-direction: column;
}

.contact-details p {
  margin: 0;
}

.map-container {
  margin-top: 20px;
  border: none;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .map-container {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-form button {
    font-size: 14px;
  }

  .map-container {
    height: 150px;
  }
}
