:root {
  --primary-color: #012a58; /* Dark Blue */
  --secondary-color: #457b9d; /* Light Blue */
  --background-color: #ffffff; /* White */
  --font-size-title: 24px;
  --font-size-subtitle: 16px;
  --color1: #ffffffcb; /* Yellow */
  --color2: #ffffffcb; /* Red */
  --color3: #ffffffcb; /* Green */
  
}

.blog {
  padding: 20px;
  background-color: var(--background-color);
}

.blog-container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.blog-container-items {
  background-color: var(--background-color);
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px;
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.blog-container-items h4 {
  position: absolute;
  top: 150px;
  left: 30px;
  color: white;

  background-color: #012a58;
  padding: 10px 20px;
}

.blog-container-items img {
  height: 200px;
  width: 100%;
}

.blog-container-items:hover {
  transform: scale(1.05);
}

.color1 {
  background-color: var(--color1);
}

.color2 {
  background-color: var(--color2);
}

.color3 {
  background-color: var(--color3);
}

.blog-container-items h2 {
  font-size: var(--font-size-title);
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--secondary-color);
}

.blog-container-items h6 {
  font-size: var(--font-size-subtitle);
  color: var(--primary-color);
  margin-bottom: 15px;
}

.blog-container-items p {
  font-size: 1rem;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.blog-container-items a {
  display: inline-block;
  font-size: var(--font-size-subtitle);
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.blog-container-items a:hover {
  color: var(--secondary-color);
}

/* Media Queries */
@media (max-width: 768px) {
  .blog-container {
    flex-direction: column;
  }
  
}
