.blog {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .blog-container-items {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
  }
  
  .blog-container-items:hover {
    transform: scale(1.05);
    background-color: rgb(255, 233, 167);
    transition: 2s;
  }
  
  .blog-container-items h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
  }
  
  .blog-container-items h6 {
    font-size: 0.875rem;
    color: #888;
    margin-bottom: 15px;
  }
  
  .blog-container-items p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .blog-container-items a {
    display: inline-block;
    font-size: 0.875rem;
    color: #b5651d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .blog-container-items a:hover {
    color: #ff7f50;

  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .blog-container {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
  